# Rust
book
target

# IDE and Debug output
!.vscode
.vscode/.cortex-debug*.state.json
.vscode/*.gdb

# LaTeX
project/_minted-report
*.pdf
*.gz
*.aux
*.log
*.fls
*.fdb_latexmk
*.bbl
*.blg

# Measurement output
*.csv
data

# Python
.pyenv
