# Rust
book
target

# IDE and Debug output
!.vscode
.vscode/.cortex-debug*.state.json
.vscode/*.gdb

# LaTeX
project/_minted-report
project/*.pdf
project/*.gz
project/*.aux
project/*.log
project/*.fls
project/*.fdb_latexmk
project/*.bbl
project/*.blg

# Measurement output
*.csv
data

# Python
.pyenv
